/* Tutorial Layout-Related CSS */
#page-content {
    position: relative;
    top: 0;
    bottom: 80px;
    height: calc(100vh - 160px);
    overflow: hidden;
}

#tutorialCard {
    height: calc(100vh - 160px);
}

#tutorialToolbar .dropdown-menu {
    max-height: 250px;
    overflow-y: auto;
}

#dropdownMenuButton {
    width: 160px;
    color: #522d80 !important;
    border-color: #522d80 !important;
}

#dropdownMenuButton:hover,
#dropdownMenuButton:focus,
#dropdownMenuButton:active {
    color: #fdfdfd !important;
    background-color: #522d80 !important;
}

@media (max-width: 575.98px) {
    #dropdownMenuButton {
        width: 130px;
    }
}

#tutorialContent {
    overflow-x: hidden;
    overflow-y: auto;
}

#tutorialContent a {
    text-decoration: none;
}