<div id="editorCol" class="d-flex flex-column h-100">
    <!-- Ace Editor -->
    <div id="editor" class="flex-grow-1 p-0"></div>
    <!-- Check Syntax Results -->
    <div id="compilerResult"></div>
    <!-- Editor Toolbar -->
    <div id="editorToolbar" class="p-2 bg-dark text-white">
        <div class="btn-toolbar font-weight-light" role="toolbar" aria-label="Editor Toolbar">
            <div id="fontButtons" class="d-inline-flex border border-white p-1">
                <span class="d-none d-md-block my-auto mr-2">Font Size:</span>
                <button id="fontIncrease" class="btn btn-sm btn-light mr-1" type="button"><i class="fas fa-plus fa-fw" aria-hidden="true" title="+"></i></button>
                <button id="fontDecrease" class="btn btn-sm btn-light mr-1" type="button"><i class="fas fa-minus fa-fw" aria-hidden="true" title="-"></i></button>
                <button id="resetFontSize" class="btn btn-sm btn-light" type="button">Default</button>
            </div>
            <div id="compilerButtons" class="ml-auto">
                <button id="checkSyntax" class="btn btn-success" type="button">Check Syntax</button>
                <button id="resetCode" class="btn btn-danger" type="button">Reset Code</button>
            </div>
        </div>
    </div>
</div>

<script src="{{ "/javascript/tutorial/tutorial_utils.js" | relative_url}}"></script>
