<div id="editorCol" class="d-flex flex-column h-100">
    <!-- Ace Editor -->
    <div id="code" class="flex-grow-1 p-0">
    </div>
    <!-- Editor Toolbar -->
    <div id="editorToolbar" class="p-2 bg-dark text-white">
        <div class="btn-toolbar font-weight-light" role="toolbar" aria-label="Editor Toolbar">
            <div id="compilerButtons" class="mr-auto">
                <button class="btn btn-success" type="button" disabled>Compile</button>
                <button class="btn btn-danger" type="button" disabled>Reset</button>
            </div>
            <div id="fontButtons" class="d-inline-flex">
                <span class="d-none d-md-block my-auto mr-2">Change Font Size:</span>
                <button id="fontIncrease" class="btn btn-sm btn-primary mr-1" type="button"><i class="fas fa-plus fa-fw" aria-hidden="true" title="+"></i></button>
                <button id="fontDecrease" class="btn btn-sm btn-primary" type="button"><i class="fas fa-minus fa-fw" aria-hidden="true" title="-"></i></button>
            </div>
        </div>
    </div>
</div>

<!-- AceEditor Rendering JavaScript -->
<script type="text/javascript">
    $( window ).on( "load", function() {
        var editor = ace.edit("code");
        editor.setTheme("ace/theme/tomorrow_night");
        editor.session.setMode("ace/mode/javascript");
        editor.session.setValue("function myScript() {\n\treturn 100;\n}");
        editor.setFontSize(16);
    });
    
    $( "#fontIncrease" ).click(function() {
        // Increase font size
        var currentFontSize = $( "#code" ).css("font-size");
        currentFontSize = parseFloat(currentFontSize) * 1.2;
        $( "#code" ).css("font-size", currentFontSize);
        
        return false;
    });
    
    $( "#fontDecrease" ).click(function() {
        // Decrease font size
        var currentFontSize = $( "#code" ).css("font-size");
        currentFontSize = parseFloat(currentFontSize) / 1.2;
        $( "#code" ).css("font-size", currentFontSize);
        
        return false;
    });
</script>