<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% if page.layout == "tutorial" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.min.js" integrity="sha256-qCCcAHv/Z0u7K344shsZKUF2NR+59ooA3XWRj0LPGIQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/theme-tomorrow_night.min.js" integrity="sha256-NbswWaBBhaLvBJ18ocfQ7sC/Iy/+7KvGq0YRjvLRpk4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/theme-chaos.min.js" integrity="sha256-ck2clJ3aqYWprrGnnBxu1OCoEh54qkccsXRguhaZyuo=" crossorigin="anonymous"></script>
<script src="{{ "/javascript/tutorial/mode-resolve.js" | relative_url }}"></script>
<script src="{{ "/javascript/tutorial/editorUpdate.js" | relative_url }}"></script>
<script type="application/javascript">
    var antlr4, AnnotatingErrorListener, PredictionMode, ResolveLexer, ResolveParser;

    // Fetch the ANTLR4 JavaScript Runtime
    Tarp.require({main: "{{ "/javascript/lib/antlr4/index" | relative_url }}", paths: ["{{ "/javascript/lib/" | relative_url }}"]}).then( 
        function (result) {
            // Store the fetched object
            antlr4 = result;
            
            // class for gathering errors and posting them to ACE editor
            AnnotatingErrorListener = function(annotations) {
                antlr4.error.ErrorListener.call(this);
                this.annotations = annotations;
                return this;
            };

            AnnotatingErrorListener.prototype = Object.create(antlr4.error.ErrorListener.prototype);
            AnnotatingErrorListener.prototype.constructor = AnnotatingErrorListener;

            AnnotatingErrorListener.prototype.syntaxError = function(recognizer, offendingSymbol, line, column, msg, e) {
                this.annotations.push({
                    row: line - 1,
                    column: column,
                    text: msg,
                    type: "error"
                });
            };
        }
    );

    // Fetch the RESOLVE Lexer
    Tarp.require({main: "{{ "/javascript/resolve/ResolveLexer" | relative_url }}", paths: ["{{ "/javascript/lib/" | relative_url }}"]}).then(
        function (result) {
            // Store the fetched object
            ResolveLexer = result;
        }
    );

    // Fetch the RESOLVE Parser
    Tarp.require({main: "{{ "/javascript/resolve/ResolveParser" | relative_url }}", paths: ["{{ "/javascript/lib/" | relative_url }}"]}).then(
        function (result) {
            // Store the fetched object
            ResolveParser = result;
        }
    );
    
    // Fetch the Prediction Mode (SLL, LL, LL*)
    Tarp.require({main: "{{ "/javascript/lib/antlr4/atn/PredictionMode" | relative_url }}", paths: ["{{ "/javascript/lib/" | relative_url }}"]}).then(
        function (result) {
            // Store the fetched object
            PredictionMode = result.PredictionMode;
        }
    );

    $(document).ready(function () {
        createEditor();
    });
</script>
{% endif %}

<!-- Page Header -->
<header id="page-header" class="d-flex flex-column border-bottom">
    <div id="page-header-top" class="d-inline p-1"></div>
    <nav class="navbar navbar-expand navbar-light flex-column flex-md-row" style="background-color: #fdfdfd;" role="navigation">
        <a class="navbar-brand" href="{{ "/" | relative_url }}">
            <img src="{{ "/images/logo2.png" | relative_url }}" width="40" height="40" alt="Clemson RSRG Logo">
            <span id="site-title" class="pl-1 text-center align-bottom">{{ site.title | escape }}</span>
        </a>
        <ul class="navbar-nav flex-row ml-md-auto align-items-center text-center">
            <li class="nav-item">
                <a class="nav-link text-dark" href="https://computing.clemson.edu/resolve/" target="_blank"><i class="fas fa-home fa-fw d-none d-sm-inline-flex" aria-hidden="true"></i><span class="d-none d-sm-inline-flex">&nbsp; </span>RSRG Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="https://begintoreason.cs.clemson.edu/" target="_blank"><i class="fas fa-external-link-alt fa-fw d-none d-sm-inline-flex" aria-hidden="true"></i><span class="d-none d-sm-inline-flex">&nbsp; </span>BeginToReason</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="https://resolve.cs.clemson.edu/" target="_blank"><i class="fas fa-external-link-alt fa-fw d-none d-sm-inline-flex" aria-hidden="true"></i><span class="d-none d-sm-inline-flex">&nbsp; </span>WebIDE</a>
            </li>
        </ul>
    </nav>
</header>