<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<!-- Page Header -->
<header id="page-header" class="d-flex flex-column border-bottom">
    <div id="page-header-top" class="d-inline p-1"></div>
    <nav class="navbar navbar-expand navbar-light flex-column flex-md-row" style="background-color: #fdfdfd;" role="navigation">
        <a class="navbar-brand" href="{{ "/" | relative_url }}">
            <img src="{{ "/images/logo2.png" | relative_url }}" width="40" height="40" alt="Clemson RSRG Logo">
            <span id="site-title" class="pl-1 text-center align-bottom">{{ site.title | escape }}</span>
        </a>
        <ul class="navbar-nav flex-row ml-md-auto">
            {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
            {% for my_page in navigation_pages %}
            {% if my_page.title and my_page.title != '404: Page not found' %}
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ my_page.url | relative_url }}"> {{ my_page.title | escape }}</a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
    </nav>
</header>