<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ "/images/logo2.png" | relative_url }}">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" 
        integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" 
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="{{ "/css/main.css" | relative_url }}" rel="stylesheet">
    {% if page.layout == "tutorial" %}
    <link href="{{ "/css/tutorial.css" | relative_url }}" rel="stylesheet">
    <link href="{{ "/css/pygments/default.css" | relative_url }}" rel="stylesheet">
    {% else %}
    <link href="{{ "/css/page.css" | relative_url }}" rel="stylesheet">
    {% endif %}
</head>