<div id="tutorialCol" class="d-flex flex-column">
    <!-- Tutorial Toolbar -->
    <div id="tutorialToolbar" class="px-3 py-2 border-bottom">
        <div class="btn-toolbar font-weight-light" role="toolbar" aria-label="Tutorial Toolbar">
            <div class="dropdown mr-2">
                <button id="dropdownMenuButton" class="btn btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Topics list
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for collection in site.collections %}
                {% if collection.label != "posts" %}
                    <h6 class="dropdown-header text-capitalize text-center">{{ collection.label }}</h6>
                    {% assign name = collection.label %}
                    {% for item in site[name] %}
                    <a class="dropdown-item" href="{{ item.url }}">{{ item.title }}</a>
                    {% endfor %}
                {% endif %}
                {% endfor %}
                </div>
            </div>
            <div id="tutorialButtons" class="d-none d-sm-inline-flex">
                <button class="btn btn-outline-secondary" type="button"><i class="far fa-file-pdf fa-fw" aria-hidden="true" title="PDF"></i></button>
            </div>
        </div>
    </div>
    <div id="tutorialContent" class="p-3">{{ content }}</div>
</div>